dist: bionic
language: java
jdk:
  - openjdk11

services:
  - postgresql
  - docker

addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
    - PGPORT=5432
    - SPRING_DATASOURCE_PASSWORD=

before_script:
  - psql -c "CREATE DATABASE quiz OWNER postgres;" -U postgres
  - psql -c "CREATE DATABASE quiztest OWNER postgres;" -U postgres

script:
  - ./gradlew clean check --info --stacktrace --console=plain --max-workers=1 --no-daemon --build-cache -Dkotlin.colors.enabled=false
  - ./gradlew codeCoverageReport

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  - docker images
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - ./gradlew jibDockerBuild

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
  - rm -fr $HOME/.gradle/caches/*/fileHashes/
  - rm -fr $HOME/.gradle/caches/jars-3/

cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
