spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quizTest
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    drop-first: true
  jpa:
    hibernate:
      ddl-auto: none
jwt:
  secret: "[B@6da120e5456tyujnbvfdrt5dfghjkl"
  expire: 10000
  issuer: quizTest

force:
  security:
    jwt:
      secret: "[B@6da120e5456tyujnbvfdrt5dfghjkl"
      expire: 10000
      issuer: quizTest
    password:
      iterations: 4
      minLength: 8
