spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quiztest
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    drop-first: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
force:
  security:
    auth:
      access:
        - pattern: /admin/**
          authority: ADMIN
          anonymous: false
        - pattern: /auth/**
          authority: null
          anonymous: true
    jwt:
      secret: IAmVeryRobustAndUniqueSecret!!!one
      expire: 10000
      issuer: quiz
    password:
      iterations: 4
      minLength: 8
