spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quiz
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
logging:
  pattern:
    console: >-
      %clr(${LOG_LEVEL_PATTERN:%5p})
      %clr(${PID}){magenta}
      %clr(%40.40logger{39}){cyan}
      %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}
  level:
    fm.force: debug
