spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quiz
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    properties:
      hibernate:
        format_sql: true
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    open-in-view: false

force:
  security:
    auth:
      access:
        - pattern: /admin/**
          authority: ADMIN
          anonymous: false
        - pattern: /auth/**
          authority: null
          anonymous: true
        - pattern: /swagger**
          authority: null
          anonymous: true
        - pattern: /**/springfox-swagger-ui/**
          authority: null
          anonymous: true
        - pattern: /**/swagger-resources/**
          authority: null
          anonymous: true
        - pattern: /**/api-docs/**
          authority: null
          anonymous: true
        - pattern: /error**
          authority: null
          anonymous: true
        - pattern: /actuator/health/readiness
          authority: null
          anonymous: true
        - pattern: /actuator/health/liveness
          authority: null
          anonymous: true
    jwt:
      secret: IAmVeryRobustAndUniqueSecret!!!one
      accessTokenExpire: 1M
      refreshTokenExpire: 180D
      issuer: quiz
    password:
      iterations: 4
      minLength: 8
server:
  port: 8181

