spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quiz
    username: postgres
    password: postgres
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none

force:
  security:
    auth:
      access:
        - pattern: /admin/**
          authority: ADMIN
          anonymous: false
        - pattern: /auth/**
          authority: null
          anonymous: true
    jwt:
      secret: IAmVeryRobustAndUniqueSecret!!!one
      expire: 10000
      issuer: quiz
    password:
      iterations: 4
      minLength: 8
